.items-container{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  gap: 5px;
  margin-left: 20rem;
  margin-right: 20rem;
}

.outer-container{
  border: 1px solid black;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  
}

.inner-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
  /* width: 15%;
  height: auto; */
}